html {
    font-family: Helvetica, sans-serif;
    color: #a64ac9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5e6cc;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header img {
    max-width: 300px;
    padding: 5px 0px;
}

nav {
    display: inline-flex;
    justify-content: space-between;
}

nav a {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #ffb485;
    color: #a64ac9;
}

#thanks {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    padding: 20px;
}

#thanks h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

#thanks h3 {
    text-align: center;
}